.wrapper {
    max-width: 512px;
    margin-left: 10px;
    margin-right: 5px;
    display: absolute;
}

.form {
    display: flex;
    padding: 24px;
}
.formInput:not(:last-child) {
     margin-right: 16px;
    }

.chart{
    height: 300px;
    width: 50%;
}