.container {
    position: flex;
    padding: auto;
    margin: auto;
    width: 50%;
    /* border: 1px solid #924094; */
  }
  .companyName {
    position: relative;
    margin: auto;
    top: 100px;
    width: 592px;
    height: 83px;
  
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 110px;
    line-height: 129px;
    text-align: center;
  
    color: #903d91;
  }
  .title {
    position: relative;
    margin: auto;
    top: 109px;
    width: 690px;
    height: 65px;
  
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 54px;
    line-height: 63px;
    text-align: center;
  
    color: #652d92;
  }
  
  .informationBox {
    position: relative;
    margin: auto;
    top: 230px;
    width: 195px;
    height: 31px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
  }
  
  input {
    border-radius: 25px;
    border: 2px solid #609;
    padding: 20px;
    width: 100%;
    height: 15px;
  }
  
  .loginButton {
    position: relative;
    margin: auto;
    width: 200px;
    top: 1000px;
    cursor: pointer;
    text-align: center;
  }
  