:root {
    --cool-gray: #d6d6d6;

    --white-2: #f3f3f4;

    --purple-8: #5723AA;
    --purple-4: #a059d8;
    --purple-1: #a87eca;

    --green-4: #0b8940;
    --green-3: #08A652;
    --green-1: #68d299;

    --red-7: #ff710b;
    --red-4: #ffa4a4;
    --red-2: #ffd3ab;
    
    --blue-4: #5285ec;
    --blue-1: #7f9ede;


    --white: #ffffff;
    --black: #262626;
}
